.app-navbar {
    background-color: black;
}

.app-body {
    padding: 2em;
}

.app-link {
    text-decoration: none;
    color: inherit;
}

.app-flex-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
}
